input[type="number"] {
  width: 3em;
}

body {
  background-image: url("space.jpg");
}


.gold {
  color: #E4A64F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.title {
  text-align: center;
  color: #E4A64F;
  font-size: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtitle {
  margin: 4px;
  color: #E4A64F;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text {
  color: #C5C6C7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  margin: 10px 50px;
  float: left;
  width: 90%;
}

.right {
  text-align: left;
  margin: 10px 50px;
  float: right;
  width: 90%;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: stretch;
}

#bgleft {
  flex-basis: 100%;
}

#bgright {
  flex-basis: 100%;
}